<ion-header>
  <ion-toolbar>
    <ion-title>お知らせ管理コンソール（Dont use This!）</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input placeholder="title" [(ngModel)]="title">
</ion-input>
<ion-input placeholder="href" [(ngModel)]="href">
</ion-input>
<ion-input placeholder="pass1" type="password" [(ngModel)]="pass"></ion-input>
<ion-input placeholder="pass2" type="password" [(ngModel)]="pass2"></ion-input>
<ion-input placeholder="pass3" type="password" [(ngModel)]="pass3"></ion-input>
<ion-input placeholder="pass4" type="password" [(ngModel)]="pass4"></ion-input>
<ion-button (click)="setting()">お知らせを追加</ion-button>
</ion-content>
