<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

 <div *ngIf="folder === 'ホーム'">
        <ion-card >
          <ion-card-header>
            <ion-card-title>最新のお知らせ</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           <ion-list>
             <ion-item *ngFor="let notifys of notify"  [href]="notifys.href">
               <ion-label>
                 {{notifys.title}}
                 </ion-label>
               </ion-item>
           </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>自身や家族の症状に不安や心配がある場合、電話相談をすることもできます。</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="outline" href="https://www.pref.iwate.jp/kurashikankyou/iryou/kenkou/jouhou/1028020.html" slot="end">Webサイトを開く</ion-button>
          </ion-card-content>
        </ion-card>
       
        <ion-grid>
          <ion-row>
      <ion-col size="12" size-sm>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>最終更新: {{update}}</ion-card-subtitle>
              <ion-card-title>岩手県の感染状況</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <div *ngIf="iwate">
                <ion-list>
             <ion-item style="font-size: 25px; color: #4285F4;">合計の陽性患者数: {{iwate.npatients}}</ion-item>
             <ion-item style="color: #eb7d34;">現在の陽性患者数: {{iwate.ncurrentpatients}}</ion-item>
            <ion-item style="color: #4EA143;">退院者数: {{iwate.nexits}}</ion-item>
          <ion-item style="color: #606060;">死亡者数: {{iwate.ndeaths}}</ion-item>
             </ion-list>
             </div>
             <div *ngIf="!iwate">
               <ion-spinner></ion-spinner>
             </div>
            </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>最終更新: {{update}}</ion-card-subtitle>
            <ion-card-title>全国の感染状況</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div *ngIf="iwate">
              <ion-list>
           <ion-item style="font-size: 25px; color: #4285F4;">合計の陽性患者数: {{covid.npatients}}</ion-item>
           <ion-item style="color: #eb7d34;">現在の陽性患者数: {{covid.ncurrentpatients}}</ion-item>
          <ion-item style="color: #4EA143;">退院者数: {{covid.nexits}}</ion-item>
        <ion-item style="color: #606060;">死亡者数: {{covid.ndeaths}}</ion-item>
           </ion-list>
           </div>
           <div *ngIf="!iwate">
             <ion-spinner></ion-spinner>
           </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
 <div *ngIf="folder === '基本的な感染対策'">
  <ion-card style="background:#62C759; color:#fff;">
    <ion-card-header>
      <ion-card-title><h1 class="bg1">1 | 3つの密を避ける</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
     <div> <h1 class="bw"><div class="bg">密</div>閉</h1></div>
     <div><h1 class="bw"><div class="bg">密</div>集</h1></div>
     <div><h1 class="bw"><div class="bg">密</div>接</h1></div>
     <div style="text-align: start;">
     <p>を避け、できるだけ自宅にいるようにしましょう。</p>
     <ion-button style="margin-top: 10px;" fill="outline" color="light" href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000164708_00001.html#kokumin">詳細はこちら</ion-button>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="background: #4285F4; color: #fff;">
    <ion-card-header>
      <ion-card-title><h1 class="bg1">2 | 8つのポイント</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list style="border-radius: 5px;">
        <ion-item>
          <ion-icon name="bed"></ion-icon>
          <ion-label>　部屋を分けましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-label>　マスクをつけましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="water"></ion-icon>
          <ion-label>　こまめに手を洗いましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="sunny"></ion-icon>
          <ion-label>　換気をしましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="leaf"></ion-icon>
          <ion-label>　手で触れる部分を消毒しましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shirt"></ion-icon>
          <ion-label>　汚れたリネン、衣服を洗濯しましょう</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash"></ion-icon>
          <ion-label>　ゴミは密閉して捨てましょう</ion-label>
        </ion-item>
      </ion-list>
      <ion-button style="margin-top: 10px;" fill="outline" color="light" href="https://www.mhlw.go.jp/content/10900000/000601721.pdf">詳細はこちら</ion-button>
    </ion-card-content>
  </ion-card>
 </div>
 <div *ngIf="folder === 'お問い合わせ'">
  <ion-card>
    <ion-card-header>
      <ion-card-title>新型コロナウイルスに関するお問い合わせ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>このwebサイトに関するお問い合わせ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
 </div>
</ion-content>
