<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>岩手県新型コロナウイルス感染症対策サイト</ion-list-header>
          <ion-note style="margin-bottom:5px;">このwebサイトは岩手県によって公式に承認されたものではありません。</ion-note>
          <ion-note style="font-size: 10px;">新型コロナウイルス感染症の予防方法の確認や現在の状況の確認にお役立て下さい。</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item *ngFor="let label of labels" [href]="url" lines="none">
            <ion-icon slot="start" [ios]="label.logo" [md]="label.logo"></ion-icon>
            <ion-label>{{ label.title }}</ion-label>
          </ion-item>
        </ion-list>
       <!-- I <ion-icon name="heart"></ion-icon> OSS-->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
